# Ignore node_modules folders across the entire repository
node_modules/

#Ignore freaking Mac DS Store
.DS_Store

# Ignore other potentially large or unnecessary files
dist/
build/
*.log

# Ignore lock files (optional, but useful for avoiding conflicts)
package-lock.json
package.json
pnpm-lock.yaml
yarn.lock

# Ignore npm debug logs
npm-debug.log*

# Ignore environment variables or other sensitive files (if applicable)
.env
